HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=RANDOM_STRING_HERE
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

ACCOUNT_ADDRESS=nano_1nk9zdf1otddxhxfqimjdkmbtq17yzf3z6giz1as7x1huyug8er1ukeqpqpe
RPC_URL=127.0.0.1:7076
VPS_COUNTRY=Netherlands