HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=RANDOM_STRING_HERE
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

ACCOUNT_ADDRESS=nano_1nk9zdf1otddxhxfqimjdkmbtq17yzf3z6giz1as7x1huyug8er1ukeqpqpe
RPC_URL=127.0.0.1:7076
VPS_COUNTRY=Netherlands

ALLOW_PUBLIC_RPC_ACCESS=true
PUBLIC_RPC_URL=https://node.shrynode.me/api
API_ALLOWED_COMMANDS=account_history, account_info, account_balance, accounts_balances, account_key, account_representative, account_weight, accounts_frontiers, accounts_pending, active_difficulty, available_supply, block_account, block_info, block_count, block_create, block_confirm, blocks_info, chain, confirmation_quorum, delegators, delegators_count, frontiers, key_create, pending, pending_exists, process, representatives, representatives_online, sign, successors, price, mnano_to_raw, mnano_from_raw, work_validate, validate_account_number, version, verified_accounts

ALLOW_PUBLIC_WS_ACCESS=true
PUBLIC_WS_URL=wss://node.shrynode.me
ALLOW_EXPLORER=false
